﻿
@{
    ViewBag.Title = "_LayoutCon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>_LayoutCon</h2>
<div class="row">
    <div class="col-md-8" id="icerik">
        @RenderBody()
    </div>
    <div class="col-md-4" id="sag-panel">

    </div>
</div>

