﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CodeForum</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")" style="color:#fff;font-size:20px">&lt;CodeForum/></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav"></ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="post-button"><button type="button" class="btn btn-default"><a href="@Url.Action("NewPost", "Forum")">Konu Aç</a></button></li>
                    <li><a href="@Url.Action("Index", "Forum")">FORUM</a></li>
                    <li><a href="@Url.Action("About", "Home")">HAKKINDA</a></li>
                    <li><a href="@Url.Action("Contact", "Home")">İLETİŞİM</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-8" id="icerik">
            @RenderBody()
            </div>
            <div class="col-sm-4" id="sag-panel">
                <div class="box" id="box1">
                    <b style="font-size:14px;">CodeForum'a Hoş Geldin!</b><br /><br />
                    Büyük bir topluluğun oluşumunda yer almak ister misin? Foruma üye olarak bu topluluğa katılabilir ve sormak istediğin konularda başlıklar
                    açabilir aynı zamanda başkalarına da yardımcı olabilirsin. Şimdi <b>Üye ol</b>.<br /><br />
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home"><b>Giriş Yap</b></a></li>
                        <li><a data-toggle="tab" href="#menu1"><b>Kayıt Ol</b></a></li>                     
                    </ul>

                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            @*Giriş Kısmı*@
                            <form class="form-horizontal" id="giris-form">
                                <div class="form-group">                                  
                                    <div class="col-sm-12" id="giris-gen">
                                        <input type="email" class="form-control" id="email" placeholder="Email adresi gir">
                                    </div>
                                </div>
                                <div class="form-group">                                    
                                    <div class="col-sm-12">
                                        <input type="password" class="form-control" id="pwd" placeholder="Şifreni gir">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <div class="checkbox">
                                            <label><input type="checkbox"> Beni Hatırla</label>
                                        </div>

                                    </div>
                                    <div class="col-sm-6">
                                        <button type="submit" class="btn btn-default" style="float:right;">Giriş Yap</button>
                                    </div>
                                </div>
                              
                            </form>
                        </div>
                        <div id="menu1" class="tab-pane fade">

                            <form class="form-horizontal" id="kayit-form">
                                @*Kayıt formu*@
                                <div class="form-group">
                                    <div class="col-sm-12" id="kayit-gen">
                                        <input type="email" class="form-control" id="username" placeholder="Kullanıcı adı">
                                    </div>
                                </div>                            
                                <div class="form-group">
                                    <div class="col-sm-12" id="kayit-gen">
                                        <input type="email" class="form-control" id="email" placeholder="Email adresi">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="password" class="form-control" id="pwd" placeholder="Şifre Oluştur">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="password" class="form-control" id="pwd" placeholder="Şifreyi Tekrar Gir">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <div class="checkbox">
                                            <label><input type="checkbox"> Üyelik Sözleşmesini Kabul Ediyorum</label>
                                        </div>

                                    </div>
                                    <div class="col-sm-6">
                                        <button type="submit" class="btn btn-default" style="float:right;">Kayıt Ol</button>
                                    </div>
                                </div>

                            </form>
                        </div>                      
                    </div>
                </div>
                <div class="box" id="box2">
                    <b style="font-size:14px;">Sosyal Ağlar</b><br /><br />
                    <ul class="sosyal-ag">
                        <li><a href=""><img src="/Content/Images/facebook.png" /></a></li>
                        <li><a href=""><img src="/Content/Images/twitter.png" /></a></li>
                        <li><a href=""><img src="/Content/Images/youtube.png" /></a></li>
                        <li><a href=""><img src="/Content/Images/instagram.png" /></a></li>
                        <li><a href=""><img src="/Content/Images/pinterest.png" /></a></li>
                    </ul>
                </div>
                <div class="box" id="box3">
                    <ul class="footer-menu">
                        <li><a href="">Gizlilik Politikası</a></li>
                        <li><a href="">Kullanım Şartları</a></li>
                        <li><a href="">Tüm Hakkı Saklıdır</a></li>
                        <li><a href="">© 2016 CodeForum</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
