﻿
@{
    ViewBag.Title = "Admin Paneli";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-h">@ViewBag.Title</h2>

<div class="row">
    <div class="col-sm-3">
        <div class="list-group">
            <a data-toggle="tab" href="#home" class="list-group-item">Kategori</a>
            <a data-toggle="tab" href="#menu1" class="list-group-item">Konular</a>
            <a data-toggle="tab" href="#menu2" class="list-group-item">Üyeler</a>
            <a data-toggle="tab" href="#menu3" class="list-group-item">Duyuru</a>
            <a href="#" class="list-group-item">Çıkış Yap</a>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                 <p>Kategori ekleme, düzenleme ve silme işlemleri.</p>
                 <p><a href="#">Yeni Kategori</a></p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Kategoriler</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>C/C++</td>
                            <td><a href="#">Düzenle</a> | <a href="#">Sil</a></td>
                        </tr>
                        <tr>
                            <td>PHP</td>
                            <td><a href="#">Düzenle</a> | <a href="#">Sil</a></td>
                        </tr>
                        <tr>
                            <td>ASP.NET</td>
                            <td><a href="#">Düzenle</a> | <a href="#">Sil</a></td>
                        </tr>
                        <tr>
                            <td>Python</td>
                            <td><a href="#">Düzenle</a> | <a href="#">Sil</a></td>
                        </tr>
                        <tr>
                            <td>Java</td>
                            <td><a href="#">Düzenle</a> | <a href="#">Sil</a></td>
                        </tr>
                        <tr>
                            <td>JavaScript</td>
                            <td><a href="#">Düzenle</a> | <a href="#">Sil</a></td>
                        </tr>
                        <tr>
                            <td>C#</td>
                            <td><a href="#">Düzenle</a> | <a href="#">Sil</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="#menu1" class="tab-pane fade">
                <p>Kategori ekleme, düzenleme ve silme işlemleri.</p>
                <p><a href="#">Yeni Kategori</a></p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Konular</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Python for döngüsü Kullanımı</td>
                            <td><a href="#">Düzenle</a> | <a href="#">Sil</a></td>
                        </tr>
                        <tr>
                            <td>JavaScript Oyun Geliştirme Üzerine</td>
                            <td><a href="#">Düzenle</a> | <a href="#">Sil</a></td>
                        </tr>
                        <tr>
                            <td>JavaScript Çerez Kullanımı</td>
                            <td><a href="#">Düzenle</a> | <a href="#">Sil</a></td>
                        </tr>
                        <tr>
                            <td>Üyelik Sistemi Oluşturma (Giriş ve Kayıt)</td>
                            <td><a href="#">Düzenle</a> | <a href="#">Sil</a></td>
                        </tr>
                        <tr>
                            <td>Yüksek Basamaklı Sayıların Hesaplanması</td>
                            <td><a href="#">Düzenle</a> | <a href="#">Sil</a></td>
                        </tr>
                        <tr>
                            <td>Java Programlamaya Giriş</td>
                            <td><a href="#">Düzenle</a> | <a href="#">Sil</a></td>
                        </tr>
                        <tr>
                            <td>PHP Nasıl Öğrenilir? Nasıl Çalışmalıyım?</td>
                            <td><a href="#">Düzenle</a> | <a href="#">Sil</a></td>
                        </tr>
                        <tr>
                            <td>JavaScript ile Yapılabilecekler</td>
                            <td><a href="#">Düzenle</a> | <a href="#">Sil</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="#menu2" class="tab-pane fade">
                <h3>Menu 2</h3>
                <p>Some content in menu 2.</p>
            </div>
            <div id="#menu3" class="tab-pane fade">
                <h3>Menu 2</h3>
                <p>Some content in menu 2.</p>
            </div>
        </div>
    </div>
</div>



