﻿
@{
    ViewBag.Title = "Admin Giriş";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-h">@ViewBag.Title</h2>

<form>
    <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email">
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd">
    </div>
    <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

