﻿body {
    padding-top: 0px;
    padding-bottom: 20px;
    background:#eeeeee;
}

/* Set padding to keep content from hitting the edges */
.body-content {
   
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h2.page-h{
    font-size:16px;
    line-height:22px;
    border-bottom:1px solid #ccc;
    padding-bottom:10px;
    font-weight:bold;
    margin-bottom:20px;
}
h3.page-h3{
    font-size:16px;
    line-height:22px;
}

#icerik{
    width:760px;
    background:#fff;
    height:auto;
    min-height:400px;
    border-radius: 5px;
    float:left;
}

#sag-panel{
    height:auto;
    float:right;
}

.box{
    background:#fff;
    margin-bottom:20px;
    border-radius: 5px;
}
#box1{
    min-height:360px;
    height:auto;
    padding:10px;
    word-wrap: break-word;
    font-size:12px;
    line-height:19px;
    overflow:hidden;

}
#box2{
    padding:5px;
}
#box3{
    background:transparent;
    padding:10px;
}
#giris-form{
    margin-top:20px;
}
#giris-gen{
    width:370px;
}
#kayit-form{
    margin-top:20px;
}
input, select, textarea{
    max-width:340px;
}

#yeni-konu input, select, textarea
{
    max-width:740px;
}

td.ct-img{
    width:49px;
    height:49px;
    padding:1px;
    border-right:1px solid #eee;
}
.ct-konu{
    width:485px;
    height:49px;
    padding:1px;
    border-right:1px solid #eee;
}
.ct-konu a{
   font-weight:bold;
   color:#555;
}
.ct-konu-ek{
    margin-top: 10px;
    position: absolute;    
    font-size:12px;
    color:#999;
}
.ct-user{
    width:100px;
    height:49px;
    border-right:1px solid #eee;
    line-height:49px;
    text-align:center;
}
.ct-user a{
    font-weight:bold;
    font-size:13px;
}
.ct-msg{
    width:70px;
    height:49px;
    line-height:49px;
    text-align:center;
}
.ct-msg-h, .ct-user-h{
    text-align:center;
}

.user-img{
    padding-top:33px;
}

#postForum{
    border-top:1px solid #ddd;
    margin-top:20px;
    padding:10px;
}

.as-post-name{
    background:#fff;
}

.as-post{
    
}
.post-user-name{
    margin-top: 10px;
    margin-bottom: 10px;    
    margin-left:3px;
}
.as-post-msg{
    width:630px;
    margin-right:20px;
    font-size:13px;
    line-height:21px;
    word-wrap:break-word;
    padding:16px;
    
}

/*Yıldız Oylama*/
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}
.as-post-son{
    background:#f1f1f1;
    border-top:1px solid #ddd;
    margin-top:30px;
    border-bottom:1px solid #ddd;
    margin-bottom:20px;
}
.oylama{
    margin-right:30px;
}

#forum-cvp{
    overflow:hidden;
    margin-top:30px;
    margin-left:10px;
    margin-bottom:20px;
}

#cvp-buton{
    
}


#postBlog{

}


ul.sosyal-ag{
    padding:0;
    margin:0;
    margin-left:7px;
    margin-bottom:10px;     
}
ul.sosyal-ag li{
    display:inline;
    list-style-type:none;
}
ul.sosyal-ag li a{
    opacity: 0.5;
}
ul.sosyal-ag li a:hover{
    opacity: 1;
}


.post-button{
    margin-top:7px;
}

ul.footer-menu{
    padding:0;
    margin:0;
}
ul.footer-menu li{
    list-style-type:none;
    display:block;
}
ul.footer-menu li a{
    color:#999;
    font-size:13px;
    padding-bottom:10px;
}