﻿
@{
    ViewBag.Title = "Forum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<table class="table table-striped">
    <thead>
        <tr>
            <th>Kategori</th>
            <th>Konu Başlığı</th>
            <th class="ct-user-h">Yazar</th>
            <th class="ct-msg-h">Mesajlar</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="ct-img"><img src="/Content/Images/python.png" /></td>
            <td class="ct-konu"><a href="@Url.Action("Posts", "Forum")">Python for döngüsü Kullanımı</a><p class="ct-konu-ek">Tarih : 26 Kasım 2016</p></td>
            <td class="ct-user"><a href="@Url.Action("Id", "User")">admin</a></td>
            <td class="ct-msg">2</td>
        </tr>
        <tr>
            <td class="ct-img"><img src="/Content/Images/js.png" /></td>
            <td class="ct-konu"><a href="@Url.Action("Posts", "Forum")">JavaScript Oyun Geliştirme Üzerine</a><p class="ct-konu-ek">Tarih : 26 Kasım 2016</p></td>
            <td class="ct-user"><a href="@Url.Action("Id", "User")">gurbuz</a></td>
            <td class="ct-msg">3</td>
        </tr>
        <tr>
            <td class="ct-img"><img src="/Content/Images/js.png" /></td>
            <td class="ct-konu"><a href="@Url.Action("Posts", "Forum")">JavaScript Çerez Kullanımı</a><p class="ct-konu-ek">Tarih : 26 Kasım 2016</p></td>
            <td class="ct-user"><a href="@Url.Action("Id", "User")">arda</a></td>
            <td class="ct-msg">12</td>
        </tr>
        <tr>
            <td class="ct-img"><img src="/Content/Images/java.png" /></td>
            <td class="ct-konu"><a href="@Url.Action("Posts", "Forum")">Python for döngüsü Kullanımı</a><p class="ct-konu-ek">Tarih : 26 Kasım 2016</p></td>
            <td class="ct-user"><a href="@Url.Action("Id", "User")">admin</a></td>
            <td class="ct-msg">2</td>
        </tr>
        <tr>
            <td class="ct-img"><img src="/Content/Images/php.png" /></td>
            <td class="ct-konu"><a href="@Url.Action("Posts", "Forum")">Üyelik Sistemi Oluşturma (Giriş ve Kayıt)</a><p class="ct-konu-ek">Tarih : 26 Kasım 2016</p></td>
            <td class="ct-user"><a href="@Url.Action("Id", "User")">gurbuz</a></td>
            <td class="ct-msg">3</td>
        </tr>
        <tr>
            <td class="ct-img"><img src="/Content/Images/python.png" /></td>
            <td class="ct-konu"><a href="@Url.Action("Posts", "Forum")">Yüksek Basamaklı Sayıların Hesaplanması</a><p class="ct-konu-ek">Tarih : 26 Kasım 2016</p></td>
            <td class="ct-user"><a href="@Url.Action("Id", "User")">arda</a></td>
            <td class="ct-msg">12</td>
        </tr>
        <tr>
            <td class="ct-img"><img src="/Content/Images/java.png" /></td>
            <td class="ct-konu"><a href="@Url.Action("Posts", "Forum")">Java Programlamaya Giriş</a><p class="ct-konu-ek">Tarih : 26 Kasım 2016</p></td>
            <td class="ct-user"><a href="@Url.Action("Id", "User")">cihan</a></td>
            <td class="ct-msg">2</td>
        </tr>
        <tr>
            <td class="ct-img"><img src="/Content/Images/php.png" /></td>
            <td class="ct-konu"><a href="@Url.Action("Posts", "Forum")">PHP Nasıl Öğrenilir? Nasıl Çalışmalıyım?</a><p class="ct-konu-ek">Tarih : 26 Kasım 2016</p></td>
            <td class="ct-user"><a href="@Url.Action("Id", "User")">gurbuz</a></td>
            <td class="ct-msg">3</td>
        </tr>
        <tr>
            <td class="ct-img"><img src="/Content/Images/js.png" /></td>
            <td class="ct-konu"><a href="@Url.Action("Posts", "Forum")">JavaScript ile Yapılabilecekler</a><p class="ct-konu-ek">Tarih : 26 Kasım 2016</p></td>
            <td class="ct-user"><a href="@Url.Action("Id", "User")">ali</a></td>
            <td class="ct-msg">12</td>
        </tr>
    </tbody>
</table>

