﻿
@{
    ViewBag.Title = "Yeni Konu Aç";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-h">@ViewBag.Title</h2>
<form>
    <div class="form-group" id="yeni-konu"> 
        <label for="email">Konu Başlığı </label>
        <input type="email" class="form-control" id="email">
    </div>
    <div class="form-group">
        <label for="sel1">Kategori Seç</label>
        <select class="form-control" id="sel1">
            <option>ASP.NET</option>
            <option>PHP</option>
            <option>C/C++</option>
            <option>Java</option>
            <option>Python</option>
            <option>Serbest Bölge</option>
        </select>
    </div>
    <div class="form-group">
        <label for="comment">Cevap Yaz :</label>
        <textarea class="form-control" rows="5" id="comment"></textarea>
    </div>
    <div class="form-group" id="cvp-buton">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-default">Gönder</button>
        </div>
    </div>
</form>