﻿
@{
    ViewBag.Title = "Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <table class="table" id="postForum">
        <thead>
            <tr>
                <th class="as-post-name" colspan="2">JavaScript Oyun Geliştirme Üzerine</th>
            </tr>
        </thead>
        <tbody>
            <tr class="as-post">
                <td class="as-post-profile"><img height="100px" width="100px" src="/Content/Images/avatar.jpg" /><p class="post-user-name"><a href="@Url.Action("Id", "User")">gurbuz</a></p></td>
                <td class="as-post-msg" style="padding-right:30px;">Bu seride, web teknolojilerini(html, css ve javascript) kullanarak baştan-sona basit bir kuş bakışı (2D) oyun yapmayı anlatacağım. Kullandığım tüm yöntemleri -elimden geldiğince- ayrıntılı olarak anlatmayı ve böylelikle bu teknolojileri -konu, konu anlatmak yerine- bir oyun geliştirirken öğretmeyi hedefliyorum. Yazdığımız oyun tarayıcı üzerinde çalışacağı gibi, öğrendiğiniz bilgileri web sayfası veya mobil uygulama yapmak içinde kullanabilirsiniz.Bu seride, web teknolojilerini(html, css ve javascript) kullanarak baştan-sona basit bir kuş bakışı (2D) oyun yapmayı anlatacağım. Kullandığım tüm yöntemleri -elimden geldiğince- ayrıntılı olarak anlatmayı ve böylelikle bu teknolojileri -konu, konu anlatmak yerine- bir oyun geliştirirken öğretmeyi hedefliyorum. Yazdığımız oyun tarayıcı üzerinde çalışacağı gibi, öğrendiğiniz bilgileri web sayfası veya mobil uygulama yapmak içinde kullanabilirsiniz.
</td>          
            </tr>
            
            <tr class="as-post-son">
                <td></td>
                <td class="oylama">
                    <div class="rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table" id="cvp-msg">
        <tbody>
            <tr class="as-post">
                <td class="as-post-profile"><img height="100px" width="100px" src="/Content/Images/avatar.jpg" /><p class="post-user-name"><a href="@Url.Action("Id", "User")">arda</a></p></td>
                <td class="as-post-msg" style="padding-right:30px;">
                    Paylaşım için teşekkürler :D.
                </td>
            </tr>

            <tr class="as-post-son">
                <td></td>
                <td class="oylama">
                    <div class="rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table" id="cvp-msg">
        <tbody>
            <tr class="as-post">
                <td class="as-post-profile"><img height="100px" width="100px" src="/Content/Images/avatar.jpg" /><p class="post-user-name"><a href="@Url.Action("Id", "User")">gurbuz</a></p></td>
                <td class="as-post-msg" style="padding-right:30px;">
                    Paylaşımlara bu başlık altında devam edeceğiz. Lütfen takipte kalın :).
                </td>
            </tr>

            <tr class="as-post-son">
                <td></td>
                <td class="oylama">
                    <div class="rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-sm-12" id="forum-cvp">
            <div class="form-group">
                <label for="comment">Cevap Yaz :</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>
            <div class="form-group" id="cvp-buton">
                <div class="col-sm-offset-10 col-sm-2">
                    <button type="submit" class="btn btn-default">Gönder</button>
                </div>
            </div>
        </div>
    </div>
</div>

