﻿
@{
    ViewBag.Title = "Id";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-sm-3">
        <div class="user-img"><img height="180px" width="180px" src="/Content/Images/avatar.jpg" /></div>
    </div>
    <div class="col-sm-9">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="3">Üye Profili</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>Kullanıcı Adı : </b></td>                    
                    <td colspan="2">gurbuz</td>
                </tr>
                <tr>
                    <td><b>Email Adresi : </b></td>                  
                    <td colspan="2">gurbuz@codeforum.com</td>
                </tr>
                <tr>
                    <td><b>Kayıt Tarihi : </b></td>
                    <td colspan="2">26 Kasım 2016</td>
                </tr>
                <tr>
                    <td><b>Mesaj Sayısı : </b></td>
                    <td colspan="2">12</td>
                </tr>
                <tr>
                    <td><b>Üye Rütbesi : </b></td>
                    <td colspan="2">Moderatör</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

