﻿@{
    ViewBag.Title = "Hakkında";
}
<h2 class="page-h">@ViewBag.Title</h2>

<p>Toplumu ilgilendiren bir konu hakkında farklı fikirlere sahip dinleyici gruplarının oluşturduğu tartışma ortamına forum denir. Bir başkan tarafından yönetilir. Panelle benzerlik gösterir. Tek fark forumda seyirciler de görüş bildirebilmektedir.
</p>
