﻿@{
    ViewBag.Title = "İletişim";
}
<h2 class="page-h">@ViewBag.Title</h2>
<h3 class="page-h3">@ViewBag.Message</h3>

<address>
    Sakarya Üniversitesi<br />
    Serdivan, Esentepe Kampüsü<br />
    <abbr title="Phone">Tel:</abbr>
    050000300320
</address>

<address>
    <strong>Destek:</strong>   <a href="mailto:destek@codeforum.com">destek@codeforum.com</a><br />
    <strong>Sponsor:</strong> <a href="mailto:sponsor@example.com">sponsor@codeforum.com</a>
</address>